#root {
  max-width: 1280px;
  padding: 2rem;
  box-sizing: border-box;
}

:root {

  --main-bg-color: #1D1E2C;
  --card-color: #3E3545;
}

body {
  background-color: var(--main-bg-color);
}

.card {

  max-width: 500px;
  background-color: var(--card-color);
  padding: 16px 28px;
  margin-bottom: 16px;
  border-radius: 8px;

  .title {
    display: flex;
    align-content: center;

    .section_logo {
      padding-right: 8px;
    }
  }

  label {
    font-weight: bolder;
  }

  input {
    width: 100%;
    border: none;
    background-color: white;
    color: var(--main-bg-color);
    padding-left: 8px;
    font-weight: bold;
    height: 36px;
    border-radius: 8px;
    margin: 8px 0;
  }
}