#root {
  max-width: 1440px;
  padding: 2rem;
  box-sizing: border-box;
  margin: 0 auto;
}

:root {

  --main-bg-color: #1D1E2C;
  --card-color: #3E3545;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

  .container {
    display: flex;

    .forms {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: .3s;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
  }

.card {

  width: 500px;
  background-color: var(--card-color);
  padding: 16px 28px;
  margin-bottom: 16px;
  border-radius: 8px;
  transition: 0.3s;

  .title {
    display: flex;
    align-content: center;
    cursor: pointer;

    .section_logo {
      padding-right: 8px;
    }

    .toggler {
      margin-left: auto;
    }
  }

  label {
    font-weight: bolder;
  }

  input {
    width: 100%;
    border: none;
    background-color: white;
    color: var(--main-bg-color);
    padding-left: 8px;
    font-weight: bold;
    height: 36px;
    border-radius: 8px;
    margin: 8px 0;
  }
}

.resume_holder {

  padding: 0 16px;

  .header_section {
    .title, .profession {
      text-align: center;
      margin: 0;
    }
    
    .contact_info {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 8px auto;
    }
  }

  .sub_section {
    
  }

  .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
}